#left{
	text-align: right;
	width: 300px;
	float: left;
	margin-right: 50px; 
}
#right{
	width: 600px;
	float: right;

}
html, body{
	font-family:Arial, Helvetica,sans-serif;
}
#footer-wrapper{
	height: 30px;
	width: 950px;
	margin: 0 auto 0 auto;
	position: relative;
	padding: 20px;
	margin-top: -70px;
	outline-style: dashed;
	outline-width: 2px;
	outline-color: #0070C0;
	outline-offset: 5px;
}
#main{
	width: 950px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 100%;
	margin: 0 auto 0 auto;
	overflow: auto;
	padding-top: 15px;
	padding-bottom: 100px;
}
.alignCenter{
	text-align:center;
}
#navbar {
	height: 3.5em;
	width:500px;
	margin-left: auto;
	margin-right: auto;
  	font-size: 1.1em; 
  	overflow: hidden;
 }

#header{
	margin: auto;
	background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
	background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
	box-shadow: 0 1px 3px #616158;
	overflow: auto;
}

#navbar li {float: left;
	box-shadow: 0 0px 3px #616158;
	width: 100px;
	height: 50px;
	margin-right: 15px;
	text-align: center; 
  }

#navbar li:hover {
	box-shadow: 0px 0px 4px #0070C0;
	color: #0070C0;
}

a {text-decoration: none;}

a img {border: none;}

a:link, a:visited {
	color: #555; 
}

html body a:hover {
	color: #0070C0;
}
#navbar ul,ol{
	list-style:none;
}
.contact{
	list-style: none;
}

span.footer{
	position: absolute;
	width: 950px;
	color: #404040;
	text-align: center;
	font-size: 1.2em;
	margin 0 auto 0 auto;
}


span.head{
	color: #0070C0;
	font-weight: bold;
	font-size: 1.2em;
}

span.right-head{
	color: #0070C0;
	float: right;
	font-weight: bold;
	font-size: 1.2em;
	right:80px;

}

span.right-location{
	color: #616158;
	font-style: italic;
	float: right;
	right:80px;

}
.profile{
	list-style: none;
}
.school-name{
	color: #616158;
	font-weight: bold;
}
.normal{
	color: #616158;
}
.award{
	font-style: italic;
	color: #616158;
}
span.add{
	color: #333;
	font-weight: bold;
	font-size:.9em;
}
span.name1{
	color: #0070C0;
	font-size: 3em;
}
span.name2{
	color: #404040;
	font-size: 3em;
}
h1{
	color:#616158;
}
h2{
	 color:#404040;
}
div.skill{
	  overflow:hidden;
}
li{
	  font-size:.9em;
}
.bar{
	width:300px;
	height:10px;
	display:inline;
}
.right{
	position: absolute;
	right:80px;
	color: #333;
	font-weight: bold;
	background-color: #ccc;
}
.job-title{
	color: #616158;
	font-style: italic;
	font-weight: bold;
	font-size: 1.1em;

}

