body{
	overflow: scroll;

}
html, body{
	font-family:Arial, Helvetica,sans-serif;
}
#footer-wrapper{
	height: 45px;
	width: 950px;
	margin: 0 auto 0 auto;
	padding-top: 20px;
	position: relative;
	margin-top: -70px;
	background: -moz-linear-gradient(#EAEAEA, #FAFAFA);
	background: -webkit-linear-gradient(#EAEAEA, #FAFAFA);
	box-shadow: 0 0px 3px #616158;

}
#main{
	width: 950px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 100%;
	margin: 0 auto 0 auto;
	overflow: auto;
	padding-top: 15px;
	padding-bottom: 100px;
	
}
.alignCenter{
	text-align:center;
}

.clean{
	list-style: none;
}

#header{
	margin: auto;
	width: 950px;
	background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
	background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
	box-shadow: 0 0px 3px #616158;
	overflow: auto;
}

span.footer{
	position: absolute;
	width: 950px;
	color: #404040;
	text-align: center;
	font-size: 1.2em;
	margin 0 auto 0 auto;
}

h1{
	color:#616158;
}
h2{
	 color:#404040;
}
h3{
	color: #0070C0;
	font-size: 1.4em;
}
h4{
	color: #404040;
	font-size: 1.1em;
}

