.gallery{
  padding: 20px;
  position: relative;
}

.gallery ul{
  padding: 0px;
  margin: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-aftler: 0px;
  list-style-type: none;
  width: 710px;
  display: inline-block;
}

.gallery ul li {
  list-style-type: none;
  text-align: center;
  display: none;
}

.gallery ul li a{

}

.gallery ul li img{
}

.gallery ul li.active{
  display: block;
}

.gallery ul li span{
  color: #EAEAEA;
	text-shadow: 0 0 0.2em rgba(0,0,0,0.5);
  display: inline-block;
  font-size: 2em;
  position: relative;
  padding: 0 25px 0 25px;
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.7);
  top: -50px;
}
.gallery .controls{
  top: 296px;
  cursor: pointer;
  display: block;
  position: absolute;
  width: 45px;
  height: 50px;
  display: none;
  opacity: 0.8;
}
.gallery .controls:hover{
  opacity: 1;
}
.gallery-image-container{
  width: 710px;
  height: 540px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.thumbnail-image-container{
  margin-top: 10px;
  width: 140px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.6;
}
.gallery #prev{
  left: 25px;
  background-image: url('../images/controls.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.gallery #next{
  right: 25px;
  background-image: url('../images/controls.png');
  background-position: -45px 0px;
  background-repeat: no-repeat;
}
#thumbnail-container{
  width: 160px;
  padding: 10px;
  background: #eaeaea;
  max-height: 520px;
  overflow-y: scroll;
  float: right;

}
.thumbnail{
  list-style-type: none;
}
.thumbnail.active > div{
  opacity: 1;
}
