#left{
	text-align: right;
	width: 300px;
	float: left;
	margin-right: 50px; 
}
#carousel{
	width: 900px;
	height: 550px;
}
.carousel .item > img{
	display: inline-block;
	line-height: 1;
	max-height: 550px;
}
#right{
	width: 600px;
	float: right;

}
.btn-big{
	margin: 10px auto 10px auto;
	font-size: 2em;
	height: 70px;
}
.badge{
	float:left;
}
a {text-decoration: none;}

a img {border: none;}
a:link, a:visited {
	color: #0070C0;
}

html body a:hover {
	color: #616158;
}

.alert{
	text-align: center;
	margin: 0 auto 0 auto;
}

.contact{
	list-style: none;
}

span.head{
	color: #0070C0;
	font-weight: bold;
	font-size: 1.2em;
}

span.right-head{
	color: #0070C0;
	float: right;
	font-weight: bold;
	font-size: 1.2em;
	right:80px;

}
.progress{
	 -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

}
span.right-location{
	color: #616158;
	font-style: italic;
	float: right;
	right:80px;

}
.profile{
	list-style: none;
}
.school-name{
	color: #616158;
	font-weight: bold;
}
.normal{
	color: #616158;
}
.award{
	font-style: italic;
	color: #616158;
}
span.add{
	color: #333;
	font-weight: bold;
	font-size:.9em;
}
span.name1{
	color: #0070C0;
	font-size: 3em;
	text-shadow: 0 0 0.1em #0070C0;
}
span.name2{
	color: #404040;
	font-size: 3em;
	text-shadow: 0 0 0.1em #404040;
}
.so{
	color: #616158;
	font-size: 3em;
	text-shadow: 0 0 0.1em #616158;
}
.port{
	padding-left: 50px;
}
h1{
	color:#616158;
}
h2{
	 color:#404040;
}

#image{
	border:4px #666 solid;
	height:480px;
	width:640px;
}

.thumb{
	float:left;
	margin-right:10px;
	margin-top:10px;
	height: 50px;
	width: 50px;
}

div.skill{
	  overflow:hidden;
}
.right{
	position: absolute;
	right:80px;
	color: #333;
	font-weight: bold;
	background-color: #ccc;
}
.job-title{
	color: #616158;
	font-style: italic;
	font-weight: bold;
	font-size: 1.1em;

}
.pika-thumbs{
	height: 120px !important;
}
.pika-thumbs li{
	height: 100px !important;
}
.btn-3d{
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(255,69,0,1);
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 25px auto;
    width: 310px;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
.btn-3d:active{
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.btn-blue{
    background-color: rgba(0,112,192,1);
    -webkit-box-shadow: 0px 9px 0px rgba(0,73,125,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(0,73,125,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(0,73,125,1), 0px 9px 25px rgba(0,0,0,.7);
}
.btn-blue:active{
    -webkit-box-shadow: 0px 3px 0px rgba(0,73,125,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(0,73,125,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(0,73,125,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
