.orange{
	color: #FF4500; 
}
.orange-bg{
	background-color: #FF4500;
}
.grey{
	color: #616158; 
}
.grey-bg{
	background-color: #616158;
}
.dgrey{
	color: #383332; 
}
.dgrey-bg{
	background-color: #383332;
}
.blue{
	color: #0070C0;
}
.blue-bg{
	background-color: #0070C0;
}
h1{
	color: #FFFFFF;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
.shadow
{
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
