#left{
	text-align: right;
	width: 300px;
	float: left;
	margin-right: 50px; 
}
#right{
	width: 600px;
	float: right;

}
.badge{
	float:left;
}
a {text-decoration: none;}

a img {border: none;}
a:link, a:visited {
	color: #0070C0;
}

html body a:hover {
	color: #616158;
}

.alert{
	text-align: center;
	margin: 0 auto 0 auto;
}

.contact{
	list-style: none;
}

span.head{
	color: #0070C0;
	font-weight: bold;
	font-size: 1.2em;
}

span.right-head{
	color: #0070C0;
	float: right;
	font-weight: bold;
	font-size: 1.2em;
	right:80px;

}
.progress{
	 -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.75), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

}
span.right-location{
	color: #616158;
	font-style: italic;
	float: right;
	right:80px;

}
.profile{
	list-style: none;
}
.school-name{
	color: #616158;
	font-weight: bold;
}
.normal{
	color: #616158;
}
.award{
	font-style: italic;
	color: #616158;
}
span.add{
	color: #333;
	font-weight: bold;
	font-size:.9em;
}
span.name1{
	color: #0070C0;
	font-size: 3em;
	text-shadow: 0 0 0.1em #0070C0;
}
span.name2{
	color: #404040;
	font-size: 3em;
	text-shadow: 0 0 0.1em #404040;
}
.so{
	color: #616158;
	font-size: 3em;
	text-shadow: 0 0 0.1em #616158;
}
.port{
	padding-left: 50px;
}
h1{
	color:#616158;
}
h2{
	 color:#404040;
}

#image{
	border:4px #666 solid;
	height:480px;
	width:640px;
}

.thumb{
	float:left;
	margin-right:10px;
	margin-top:10px;
	height: 50px;
	width: 50px;
}

div.skill{
	  overflow:hidden;
}
li{
	  font-size:.9em;
}
.right{
	position: absolute;
	right:80px;
	color: #333;
	font-weight: bold;
	background-color: #ccc;
}
.job-title{
	color: #616158;
	font-style: italic;
	font-weight: bold;
	font-size: 1.1em;

}

