body{
	background: #FFF;
	color: #383332;
	margin: 0px;
	font-size: .8em;
}
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
html, body{
	font-family: Roboto, sans-serif;
}
textarea{
	font-family: Roboto, sans-serif;
}
input{
	font-size: 1.3em;
}
.control-label{
	font-size: 1.5em;
}
.brand-container{
	margin: 0 auto 1em auto;
	text-align: center;
	max-width: 950px;
}
#header{
	font-size: .5em;
	background: #383332;
	padding-top: 1em;
	word-break: normal;
	height: 100%;
	padding-bottom: 0px;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);	
}
#site-container{
	-moz-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);	
	background: -webkit-linear-gradient(143deg, rbga(255,69,0,.25) 0%, #4B4543 100%);
}
.sensitive{
	color: transparent;
	text-shadow: 0 0 10px black;
	-webkit-transition: all .1s linear;
}
.sensitive:hover{
	color: inherit;
	text-shadow: none;
}
.alignCenter{
	text-align:center;
}

.clean{
	list-style: none;
}
.dark{
	color: #616158;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
.light-header{
	color: #EAEAEA;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
h1{
	font-size: 3em;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
h2{
	 color:#404040;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
h3{
	color: #0070C0;
	font-size: 1.4em;
}
h4{
	color: #404040;
	font-size: 1.1em;
	margin-bottom: 0px;
}
.brand{
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	display: inline-block;
	margin: 0 auto 0 auto;
	line-height: .9em;
	color: #EAEAEA;
	font-size: 4.5em;
	font-family: Roboto Condensed;
	font-weight: 300;
}

.grey{
	color: #616158 !important;
}
a.grey:hover{
	color: #FAFAFA !important;
}

a .grey:hover{
	color: #FAFAFA !important;
}
.blue{
	color: #0070C0 !important;
}
a.blue:hover{
	color: #FF4500 !important;
}
a .blue:hover{
	color: #FF4500 !important;
}
.orange{
	color: #FF4500 !important;
}
a.orange:hover{
	color: #0070C0 !important;
}
a .orange:hover{
	color: #0070C0 !important;
}
.btn-big{
	margin: 10px auto 10px auto;
	font-size: 2em;
	height: 70px;
}
a {text-decoration: none;}

a img {border: none;}

.error{
	background-color: #F8DBDB !important;
	border: 1px solid #E77776 !important;
}
.success{
	background-color: #9EDB9E !important;
	border: 1px solid #5BB75B !important;
}
.message-success{
	width: 500px;
	background-color: #9EDB9E !important;
	border: 1px solid #5BB75B !important;
	text-align: center;
	margin: 0 auto 0 auto;
}
#inputMessage{
	max-height: 200px;
	width: 202px;
	padding: .5em;
	overflow: hidden;
	line-height: 100%;
}
#contact-form{
	margin: 0 auto 0 auto;
	width: 212px;
	overflow: hidden;
	padding: .5em;
}
.hero-unit{
	background: #383332;
	padding: 2em;
	padding-top: .2em;
	color: #fff;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);	
}
.medium{
	width: 30em;
}
.small{
	width: 20em;
}
.large{
	width: 40em;
}
#navigation{
	margin: 0 auto 0 auto;
	max-width: 98em;
}
.nav{
	text-align: center;
}
.nav ul{
	padding: 0;
}
.nav li{
	margin-top: .5em;
	margin-bottom: .5em;
	list-style-type: none;
	display: block;
}
.nav li a{
	color: #FFF;
	font-size: 2.75em;
	padding: 0 .5em 0 .5em;
	font-family: Roboto Condensed;
	font-weight: 300;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}
.nav li a:hover{
	background: #FFF;
	color: #232323;
  -webkit-box-shadow: 0 -3px 3px -3px rgba(0,0,0,.5), 3px 0px 3px -3px rgba(0,0,0,.5), -3px 0px 3px -3px rgba(0,0,0,.5);
  -moz-box-shadow:    0 -3px 3px -3px rgba(0,0,0,.5), 3px 0px 3px -3px rgba(0,0,0,.5), -3px 0px 3px -3px rgba(0,0,0,.5);
  box-shadow:         0 -3px 3px -3px rgba(0,0,0,.5), 3px 0px 3px -3px rgba(0,0,0,.5), -3px 0px 3px -3px rgba(0,0,0,.5);
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 30px rgba(255, 255, 255, .325);
}
.nav .active{
	background: #FFF;
	color: #232323;
  -webkit-box-shadow: 0 -3px 3px -3px rgba(0,0,0,.5), 3px 0px 3px -3px rgba(0,0,0,.5), -3px 0px 3px -3px rgba(0,0,0,.5);
  -moz-box-shadow:    0 -3px 3px -3px rgba(0,0,0,.5), 3px 0px 3px -3px rgba(0,0,0,.5), -3px 0px 3px -3px rgba(0,0,0,.5);
  box-shadow:         0 -3px 3px -3px rgba(0,0,0,.5), 3px 0px 3px -3px rgba(0,0,0,.5), -3px 0px 3px -3px rgba(0,0,0,.5);
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 30px rgba(255, 255, 255, .325);
}
#main{
	padding: .5em;
	padding-top: 1em;
	max-width: 950px;
	height: 100%;
	margin: 0 auto 0 auto;
}
#footer-text{
	color: #EAEAEA;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
#footer-container{
	margin-top: 0;
	padding: .5em 0 .5em 0;
	text-align: center;
	background: #383332;
	height: 100%;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);	
}
.breadcrumb{
	margin: 0 0 1.5em;
	list-style: none;
	display: block;
	background: #EAEAEA;
	padding: .6em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.breadcrumb li{
	display: inline-block;
	text-shadow: 0 1px 0 #FFF:
}
.breadcrumb li a{

	color: #0070c0;
}
.breadcrumb .active{
	color: #FF4500;
}
.breadcrumb .divider{
	padding: 0 5px;
	color: #CCC;
}
.client{
	position: relative;
	border: 1px solid #CCC;
	display: inline-block;
	opacity: 0.7;
	-webkit-transition-duration: 0.30s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-duration: 0.30s;
	-moz-transition-timing-function: ease-out;	
}
.clients{
	text-align: center;
}
.work{
	display:inline-block;
	margin: 1em 4em 1em 0;
}
.none{
	display: none !important;
}
.work-title{
	font-size:1em;
}
.clients-header{
	width: 100%;
	position: absolute;
	z-index:100;
	top: 73px;
	display:block;
	padding: 0.5em 0 0.5em 0;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0,0,0.1);
	background: rgba(56,51,50,0.7);
	font-weight: 400;
}
.thumb{
	margin: 0 auto 0 auto;
	display: block;
}
.client:hover{
	opacity: 1;
}
.form-horizontal .control-group{
  margin-bottom: 18px;
}
.form-horizontal .control-label{
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls{
  margin-left: 160px;
}

.btn-3d{
    position: relative;
    border: none;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(255,69,0,1);
    font-size: 3em;
    display: inline-block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 25px auto;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
.btn-3d-small{
  font-size: 2em;
}

.btn-3d:active{
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.btn-3d-blue{
    background-color: rgba(0,112,192,1);
    -webkit-box-shadow: 0px 9px 0px rgba(0,73,125,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(0,73,125,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(0,73,125,1), 0px 9px 25px rgba(0,0,0,.7);
}
.btn-3d-blue:active{
    -webkit-box-shadow: 0px 3px 0px rgba(0,73,125,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(0,73,125,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(0,73,125,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.btn-3d-green{
    background-color: rgba(158,219,158,1);
    -webkit-box-shadow: 0px 9px 0px rgba(91,183,91,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(91,183,91,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(91,183,91,1), 0px 9px 25px rgba(0,0,0,.7);
}
.btn-3d-green:active{
    -webkit-box-shadow: 0px 3px 0px rgba(91,183,91,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(91,183,91,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(91,183,91,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.btn-3d:disabled{
    background-color: rgba(158,158,158,1);
    -webkit-box-shadow: 0px 3px 0px rgba(100,100,100,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(100,100,100,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(100,100,100,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.skills{
  float: left;
  width: 300px;
  height: 300px;
}
.get{
  display: none;
}
@media all and (min-width: 320px){
	/*This needs to change the layout*/
	#header{
		font-size: .5em;
	}
}
@media all and (min-width: 480px){
	/*This needs to change the layout*/
	#header{
		font-size: .6em;
	}
	.nav li a{
		margin: .5em;
		padding: .1em .5em .5em .5em;
	}
	.nav li{
		display: inline-block;
		margin: 0;
	}
	#contact-form{
		width: 100%;
		margin: 0;
	}
	#inputMessage{
		width: 275px;
	}	
}
@media all and (min-width: 768px){
	#header{
		font-size: .8em;
	}
	.nav li a{
		margin: .8em;
	}
	.nav li{
		display: inline-block;
	}
}
@media all and (min-width: 960px){
	body{
		font-size: 1em;
	}
	.nav li a{
		margin: 1em;
	}
	.nav li{
		display: inline-block;
	}
}
