.timeline{
  display: none;
}
.timeline-graph{
}
.timeline-graph .year{
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  width: 200px;
  color: #000000;
}
.timeline-graph .month{
  margin-left: 10px;
  
  color: #000000;
}
.timeline-graph .date{
  margin-left: 10px;
  color: #000000;
}
.timeline-nav{
  width: 250px;
  display: inline-block;
}
.timeline-description{
  float: right;
  width: 650px;
  margin: 0 25px 0 25px;
}
.timeline-graph .description{
  display: none;
  width: 600px;
  margin-left: 10px;
  padding: 10px;
}
