.timeline{
  display: none;
}
.timeline-graph{
}
.timeline-graph .year{
  padding: 10px 0 10px 0;
  border-left: 1px solid #000;
  width: 200px;
  color: #000000;
  cursor: pointer;
}
.timeline-graph .year:before{
  content: '\2013';
}
.timeline-graph .month{
  padding-top: 5px;
  cursor: pointer;
  color: #000000;
}
.timeline-graph .month:before{
  content: '\2013\2013';
}
.timeline-graph .date{
  padding-top: 5px;
  color: #000000;
  cursor: pointer;
  display: none;
}
.timeline-graph .date:before{
  content: '\2013\2013\2013';
}
.timeline-nav{
  width: 250px;
  display: inline-block;
}
.timeline-description{
  float: right;
  width: 650px;
  margin: 0 25px 0 25px;
}
.timeline-graph .description{
  display: none;
  width: 600px;
  margin-left: 10px;
  padding: 10px;
}
