.timeline{
  display: none;
}
.timeline-graph{
  height: auto;
}
.timeline-graph .year{
  padding: 10px 0 10px 0;
  border-left: 1px solid #000;
  color: #000000;
  cursor: pointer;
}
.timeline-graph .year-label{
  font-size: 1.5em;
}
.timeline-graph .month-label{
  font-size: 1.3em;
}
.timeline-graph .date-label{
  font-size: 1em;
  color: #0070C0 !important;
}
.timeline-graph .timeline-nav .year.focus > span{
  font-size: 1.9em;
  color: #615858;
}
.timeline-graph .year > .focus{
  color: #FF4500 !important;
}
.timeline-graph .num-label{
    -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 1px 5px rgba(0,0,0,.9);
    box-shadow: 0px 1px 5px rgba(0,0,0,.9);
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}
.timeline-graph .year:before{
  content: '\2013';
}
.timeline-graph .month{
  padding-top: 5px;
  cursor: pointer;
  color: #000000;
}
.timeline-graph .month:before{
  content: '\2013\2013';
}
.timeline-graph .date{
  padding-top: 5px;
  color: #000000;
  cursor: pointer;
  display: none;
}
.timeline-graph .date:before{
  content: '\2013\2013\2013';
}
.timeline-nav{
  width: 290px;
  display: inline-block;
  float: left;
}
.timeline-description{
  float: right;
  width: 650px;
}
.timeline-graph .description{
  height: auto;
  display: none;
  width: 600px;
  margin-left: 10px;
  padding: 10px;
}
