{{ partial "header" . }}

<div id="main">

    <h2>Why I Do This</h2>

    <p> I love collaborating with teams that thrive on solving complex business problems and have fun doing it.
        I hone my skills in object-oriented PHP by day, and enjoy a binge session of Game of Thrones by night.
        If I sound like someone you'd enjoy working with, <a href="mailto:jobs@davidrallen.com">let me know</a>.
        </li>

        <h2>What I've Done</h2>

        <div class="job">
            <div class="row">
                <div class="head">The Atom Group</div>
                <div class="right-head">August 2012 - Present</div>
            </div>
            <div class="row">
                <div class="job-title">Software Architect</div>
                <div class="right-location">Portsmouth, NH</div>
            </div>
            <div class="row">
                <div class="position">Management</div>
                <ul>
                    <li>Built open-source development team of six developers up from two, expanding ATOM’s software development offerings significantly</li>
                    <li>Implemented new technical interview process and interviewed all developer candidates</li>
                    <li>Co-authored curriculum used in developer training program</li>
                    <li>Managed a 4 developer team in a year long, custom-built CMS and Ecommerce platform development project</li>
                    <li>Lead team in migrating arcade game network infrastructure to an Amazon AWS VPC infrastructure</li>
                    <li>Managed ATOM's longest-standing maintenance client</li>
                    <li>Integrated modern technologies and practices; Laravel, Vue.js, GitHub, NGiNX, PSR-2/4, Composer, Vagrant, etc</li>
                </ul>
                <div class="position">Server Management</div>
                <ul>
                    <li>Implemented devops process streamlining onboarding and maintenance, eliminating development environment discrepancies</li>
                    <li>Setup load-balanced, highly scalable infrastructure with Redis caching, zone and region failover, and distributed database performance tested at 1,000 requests per second</li>
                    <li>Maintained all infrastructure including: Trac, SVN, Git, LAMP servers, mediawiki, and AWS infrastructure</li>
                    <li>Setup and deployed over 40 production servers for various clients, including highly scalable and available
                        environments using CloudFront, ELB, SES, S3, VPC, MongoDB, Redis, Node.js, NGiNX, and PHP-FPM</li>
                    <li>Setup environments which passed rigorous penetration testing</li>

                </ul>
                <div class="position">Software Development</div>
                <ul>
                    <li> Lead projects for EMC, Ben and Jerry’s, Progressive, Popular Community Bank, Zenimax, and others, including $100K+ budgets</li>
                    <li>Wrote many project specifications through consulting with clients in various business verticals</li>
                    <li>Built custom ecommerce platform with taxes, discounts, adjustments, and reporting with a complex prorated upgrade subscription system</li>
                    <li>Researched, planned, developed, and launched several software products ranging in disciplines from teacher planning to leadership development</li>
                    <li>Developed serverless infrastructure utilizing AWS Lambda, API Gateway, and DynamoDB</li>
                    <li>Developed web applications ranging from marketing sites to scalable REST APIs using PHP, Laravel, CodeIgniter,
                        CakePHP, Node.js, Drupal, Magento, Wordpress and other technologies
                    </li>
                    <li>Built real-time moderation queue application used in approving image submissions utilizing Laravel and Backbone.js</li>
                    <li>Developed product including real-time interactive kiosks in a bank setting used for scheduling, check in, self-guided presentations, and decision tree questionnaires using Laravel and Pusher</li>
                    <li>Developed Node.js, Redis, and MongoDB driven beta signup app for an upcoming MMORPG video game</li>
                    <li>Architected and developed analytics reporting engine and reporting interface for iOS application API</li>
                    <li>
                        <a href="https://github.com/doctorallen/issuetracker" target="_blank">Developed open source, client-facing issue tracking system for internal use</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="job">
            <div class="row">
                <div class="head">Plymouth State University</div>
                <div class="right-head">May 2012 - August 2012</div>
            </div>
            <div class="row">
                <div class="job-title">Junior Developer</div>
                <div class="right-location">Plymouth, NH</div>
            </div>
            <ul>
                <li>Designed and Developed a full-scale open source web application using PHP, MySQL, HTML5, CSS3, jQuery, JavaScript,
                    Smarty and Klein routing in a LAMP environment using VIM and Git
                </li>
                <li>Used custom-built MVC Framework with Smarty/HTML5 and PHP/MySQL/Klein</li>
                <li>Developed project from specification to production in 5 months</li>
                <li>Integrated with existing MySQL database, Plymouth State API Layer, and GLPI</li>
                <li>Created technical documentation and end-user manuals</li>
                <li>All code was peer reviewed and open-sourced on github.com</li>
                <li>Migrated existing web applications from Subversion to GitHub</li>
            </ul>
        </div>

        <div class="job">
            <div class="row">
                <div class="head">Plymouth State University</div>
                <div class="right-head">Sept 2011 - May 2012</div>
            </div>
            <div class="row">
                <div class="job-title">Computer Science Undergraduate Fellow</div>
                <div class="right-location">Plymouth, NH</div>
            </div>
            <ul>
                <li>Worked alongside professors in creating and offering support for lab assignments</li>
                <li>Maintained and updated networking equipment and computers for computer science labs</li>
            </ul>
        </div>

        <div class="job">
            <div class="row">
                <div class="head">Plymouth State University</div>
                <div class="right-head">Sept 2010 - May 2012</div>
            </div>
            <div class="row">
                <div class="job-title">Information Desk Consultant</div>
                <div class="right-location">Plymouth, NH</div>
            </div>
            <ul>
                <li>Call Center supporting 60,000+ university constituents, 1200+ calls logged</li>
                <li>Supported Media Presentation Center (Photoshop, Flash, iMovie)</li>
            </ul>
        </div>

        <div class="job">
            <div class="row">
                <div class="head">Plymouth State University</div>
                <div class="right-head">Feb 2011 - May 2011</div>
            </div>
            <div class="row">
                <div class="job-title">Systems Support Intern</div>
                <div class="right-location">Plymouth, NH</div>
            </div>
            <ul>
                <li>Worked as lead in researching and testing virtual desktop infrastructure services</li>
                <li>Created technical documentation for installing and managing tested services</li>
            </ul>
        </div>

        <div class="job">
            <div class="row">
                <div class="head">Daniel Webster College</div>
                <div class="right-head">Nov 2008 - May 2010</div>
            </div>
            <div class="row">
                <div class="job-title">TechBench</div>
                <div class="right-location">Nashua, NH</div>
            </div>
            <ul>
                <li>Troubleshot numerous hardware and software related computer issues</li>
                <li>Collaborated with a team on the creation of a 100 page technical manual for helpdesk operation</li>
            </ul>
        </div>
</div>
<!-- #right -->
<div id="side">
    <h2>How To Reach Me</h2>
    <ul class="contact">
        <li>
            <a href="mailto:jobs@davidrallen.com">jobs@davidrallen.com</a>
        </li>
        <li>(603) 852-9228</li>
        <li>Exeter, NH</li>
    </ul>


    <h2>What I Do</h2>

    <div class="skill">
        <p>Software Architecture, Software Development, Database Design, Linux Server Configuration, Project Management, Project Planning, Client/Account Management</li>
    </div>

    <h2>How I Do It</h2>

    <div class="skill">
        <h3>Proficient</h3>
        <p>PHP, Laravel, MySQL, NGiNX, Apache, AWS, RHEL, CentOS, Ubuntu, Vim, HTML5, CSS3, JavaScript, jQuery</li>
    </div>

    <div class="skill">
        <h3>Familiar</h3>
        <p>Photoshop, Drupal, CodeIgniter, CakePHP, Wordpress, Node.js, Bash scripting</li>
    </div>

    <div class="skill">
        <h3>Hobbyist</h3>
        <p>Vue.js, React, Angular.js, GO lang, Backbone.js, Webpack, Less/Sass, MongoDB, Redis</li>
    </div>

    <h2>Check Me Out Online</h2>
    <ul class="no-list">
        <li>
            <a href="https://github.com/doctorallen" target="blank">Github</a>
        </li>
        <li>
            <a href="http://stackoverflow.com/users/984383" target="blank">Stack Overflow</a>
        </li>
        <li>
        </li>
    </ul>


    <h2>Where I Learned</h2>

    <div class="school right-aligned">
        <span class="school-name">Plymouth State University '12</span>
        <br>
        <span class="normal">B.S. Information Technology</span>
        <br>
        <span class="award">Magna Cum Laude,
            <br> Top 20 Graduating Senior,
            <br> Outstanding Student in
            <br> Information Technology</span>
    </div>

    <h2>Books That I Like</h2>
    <ul class="no-list">
        <li>
            <a href="https://www.amazon.com/gp/product/0321721330/ref=oh_aui_detailpage_o07_s00?ie=UTF8&psc=1">Practical Object-Oriented Design in Ruby</a>
        </li>
        <li>
            <a href="http://www.amazon.com/gp/product/1491905018/ref=oh_aui_detailpage_o07_s00?ie=UTF8&psc=1">Modern PHP
            </a>
        </li>
        <li>
            <a href="http://www.amazon.com/Mythical-Man-Month-Software-Engineering-Anniversary/dp/0201835959/ref=sr_1_1?s=books&ie=UTF8&qid=1429557296&sr=1-1&keywords=mythical+man+month">Mythical Man Month</a>
        </li>
    </ul>

    <h2>My Toolbelt</h2>
    <ul class="no-list">
        <li>PHPStorm</li>
        <li>VSCode</li>
        <li>Vim</li>
        <li>Sequel Pro</li>
        <li>Chrome</li>
        <li>iTerm 2</li>
        <li>Vagrant</li>
        <li>MacOS 10.12</li>
    </ul>
</div>
</div>
{{ partial "footer" . }}