<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="David Allen's Resume">
  <meta name="author" content="David Allen">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#0070C0">
  <title>David Allen</title>
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'/>
</head>
<body>          