{{ partial "header" . }}
<div class="content-container">
    <section id="main-content">
        <article class="post">
            <header>
                <h1 class="post-title"><a href='{{ .Permalink }}'> {{ .Title }}</a> </h1>
                <div class="post-meta-list">
                    <div class="post-meta time-since" data-timestamp="{{ .Date }}"><i class="fa fa-clock-o"></i> <span class="relative-time"></span></div>
                    {{ partial "post-tags" .}}
                </div>
            </header>
                <div class="post-body">
                    {{ .Content }}
                </div>
            <footer>
            </footer>
        </article>
    <div class="post-footer">
        {{ if .PrevInSection }}
           <a class="post-nav previous-post" href="{{ .PrevInSection.Permalink }}">Previous Post</a>
        {{ end }}
        {{ if .NextInSection }}
           <a class="post-nav next-post" href="{{ .NextInSection.Permalink }}">Next Post</a>
        {{ end }}
    </div>
    {{ template "_internal/disqus.html" . }}
    </section>
    {{ partial "sidebar.html" . }}
</div>
{{ partial "footer" . }}
