@import-normalize;

.App {
  &:focus {
    outline: none;
  }
}

pre {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #c7c7c7;
}

body {
  background-color: black;
  color: #c7c7c7;
  font-size: 1.1rem;
  font-family: monospace;
}

.command-group {
  margin: 16px;
}

.bash-line {
  .blue-bg {
    background-color: #03afd7;
    color: black;
    padding: 0px 8px;
    margin: 0;
  }

  .orange-bg {
    background-color: #ff8700;
    color: black;
    padding: 0px 8px;
    margin: 0;
  }

  .blue-text {
    color: #03afd7;
  }

  .orange-text {
    color: #ff8700;
  }

  .green-text {
    color: #60d700;
  }

  .red-text {
    color: #ff2500;
  }

  .blinking-cursor {
    color: #c7c7c7;
    animation: blink 0.85s steps(1000, start) infinite;
  }

  @keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: #c7c7c7;
    }
  }

  .command-list {
    list-style-type: none;
    padding: 0;
    margin: 8px;
  }
}

.info-container {
  border: 1px dashed #c7c7c7;
  padding: 8px;
  margin: 16px;
  position: relative;
  max-width: 960px;

  &::after {
    content: '+';
    position: absolute;
    left: -6px;
    top: -11px;
    color: #c7c7c7;
  }
  &::before {
    content: '+';
    position: absolute;
    right: -6px;
    top: -11px;
    color: #c7c7c7;
  }
  .inner {
    &::after {
      content: '+';
      position: absolute;
      left: -6px;
      bottom: -10px;
      color: #c7c7c7;
    }

    &::before {
      content: '+';
      position: absolute;
      right: -6px;
      bottom: -10px;
      color: #c7c7c7;
    }
  }
}

.row {
  display: flex;
  .column {
    flex: 0 0 50%;
  }
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 32px;
}

.banner {
  margin: 32px;
  max-width: 960px;

  .sys-list {
    list-style-type: none;
    padding: 0;
    margin: 32px;
  }
}

blockquote {
  border-left: 3px solid #cfcfcf;
  padding-left: 8px;
}

.timeline {
  // border-left: 1px dashed #cfcfcf;
  list-style-type: none;
  padding: 0;

  .timeline-header {
    display: flex;
    align-items: center;
  }

  .tag {
    background: #cfcfcf;
    color: black;
    padding: 4px 12px;
    font-size: 0.8rem;
    border: 1px dashed #cfcfcf;
    margin-left: 8px;
  }

  .inline-tag {
    background: #cfcfcf;
    color: black;
    padding: 2px 12px;
    &.plymouth {
      background: #117353;
      color: white;
    }
    &.prhs {
      background: #1e6c93;
      color: white;
    }
    &.atom {
      background: #1abc9c;
      color: black;
    }
    &.dwc {
      background: #005594;
      color: white;
    }
  }

  .year {
    display: inline-block;
    padding: 4px 16px;
    font-weight: bold;
    // margin: 8px 0 0 8px;
    border: 1px dashed #cfcfcf;
  }
  > li {
    // padding: 8px;
    padding: 0;

    ul {
      border-left: 1px dashed #cfcfcf;
      list-style-type: none;
      margin: 0 0 0 37px;
      padding: 8px 16px;

      li {
        padding: 4px 0;
      }
    }
    // border-top: 1px dashed #cfcfcf;
  }
}
