@import-normalize;

.App {
  &:focus {
    outline: none;
  }
}

pre {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #c7c7c7;
}

body {
  background-color: black;
  color: #c7c7c7;
  font-size: 1.1rem;
  font-family: monospace;
}

.command-group {
  margin: 16px;
}

.bash-line {
  .blue-bg {
    background-color: #03afd7;
    color: black;
    padding: 0px 8px;
    margin: 0;
  }

  .orange-bg {
    background-color: #ff8700;
    color: black;
    padding: 0px 8px;
    margin: 0;
  }

  .blue-text {
    color: #03afd7;
  }

  .orange-text {
    color: #ff8700;
  }

  .green-text {
    color: #60d700;
  }

  .red-text {
    color: #ff2500;
  }

  .blinking-cursor {
    color: #c7c7c7;
    animation: blink 0.85s steps(1000, start) infinite;
  }

  @keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: #c7c7c7;
    }
  }

  .command-list {
    list-style-type: none;
    padding: 0;
    margin: 8px;
  }
}

.info-container {
  border: 1px dashed #c7c7c7;
  padding: 8px;
  margin: 8px;
  position: relative;

  &::after {
    content: '+';
    position: absolute;
    left: -6px;
    top: -11px;
    color: #c7c7c7;
  }
  &::before {
    content: '+';
    position: absolute;
    right: -6px;
    top: -11px;
    color: #c7c7c7;
  }
  .inner {
    &::after {
      content: '+';
      position: absolute;
      left: -6px;
      bottom: -10px;
      color: #c7c7c7;
    }

    &::before {
      content: '+';
      position: absolute;
      right: -6px;
      bottom: -10px;
      color: #c7c7c7;
    }
  }
}

.banner {
  margin: 32px;

  .sys-list {
    list-style-type: none;
    padding: 0;
    margin: 32px;
  }

  .documentation-list {
    list-style-type: none;
    padding: 0;
    margin: 32px;
  }

  .row {
    display: flex;
    .column {
    }
  }
}
