@charset "utf-8";
@import "~bulma/bulma";

$font-secondary: white;
// $font: #737E94; 
// $font: #bfcadf; 
$font: #d2d7e1;
$font-accent: #B08AE8;
// $card-background: #3b3e50;
$card-background: #333643;
$body-background: #0070C0;
// $blockquote-bg: #282A36;
$blockquote-bg: #1d1f21;
$orange: #FF4500;

body {
    font-family: "Raleway", sans-serif;
    font-family: "Montserrat", sans-serif;
    color: $font-secondary;
}

html {
    // background: linear-gradient(90deg,#cf70f6 0%,#1f56ac 100%);
    // background: linear-gradient(0deg,#1FF2BB 0%,rgb(40, 201, 213) 50%, #EF8AF5 100%) no-repeat;
    background: $body-background; 
    // background: linear-gradient(45deg,#0070C0 0%,#FF4500 100%);
    // background: linear-gradient(-45deg,  #24CEFC, #10D7AE);
    color: $font;
}

.two-column{
    margin: 0;
    display: flex;
    min-height: 100%;
}

.navbar{
    background: transparent;
    .navbar-item {
        color: $font-secondary;
        border-bottom: 2px solid transparent;

        &.is-active{
            color: $font-secondary;
            font-weight: bold;
            background: transparent;
            border-bottom: 2px solid $font-secondary;
        }

        .social {
            max-height: 100%;
            display: flex;
        }
    }

    .navbar-burger{
        color: $font-secondary;
    }
}

.is-horizontal-center{
    justify-content: center;
}


.card{
    border-radius: 16px;
    margin: 16px;

    background-color: $card-background;
    color: $font;

    .title {
        color: $font;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(255,255,255,0.4);
    }
}

.columns{
    margin-bottom: 0px !important;
}

.hero-body{
    padding: 0 1.5rem;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover{
    background: transparent;
    color: $font-secondary;
    font-weight: bold;
    border-bottom: 2px solid $font-secondary;
}

.content {
    blockquote {
        color: $font-secondary;
        font-family: "Anonymous Pro", monospace;
        border-left: 5px solid $orange;
        background-color: $blockquote-bg;
        padding: 16px;

        p {
            margin-bottom: 0px !important;
            &.has-text-right{
                color: $font-accent;
            }
        }

    }

    p:not(:last-child) {
        margin-bottom: 16px;
    }

    a {
        color: $font-accent;
        font-weight: bold;
        &:hover,
        &:active,
        &:focus {
            color: $orange;
            text-decoration: underline;
        }
    }

} 

@media screen and (max-width: 1023px)
{
    .navbar-menu{
        background: transparent;
        box-shadow: none;
    }
    a.navbar-item:first-child {
        border-top: 2px solid white;
    }
    a.navbar-item {
        border-bottom: 2px solid white;
    }
}