// Path to Bulma's sass folder
@use 'bulma/sass' with (
  $family-primary: '"Montserrat", sans-serif',
  $primary: #2f2468,
  $family-secondary: #e1ad21
);

// $card-background: #3b3e50;
// $card-background: #333643;
// $card-background-secondary: #2c5282;
$card-background-secondary: #2f2468;
// $card-background-secondary: #3c3176;
$card-background: #2f2468;
$body-background: #1b183d;
// $body-background: #0070c0;
// $blockquote-bg: #282A36;
$blockquote-bg: #1d1f21;
// $font: #737E94;
// $font: #bfcadf;
$font: #d2d7e1;
// $font-accent: #b08ae8;
$font-accent: #e1ad21;
$font-secondary: #e1ad21;
$green: #10d7ae;
$blue: #24cefc;
$orange: #ff4500;

// https://coolors.co/0070c0-99e1d9-291f1e-31393c-0091ad
$color1: #0070c0ff;
$color2: #99e1d9ff;
$color3: #291f1eff;
$color4: #31393cff;
$color5: #0091adff;

@mixin gradient-bg {
  background: $card-background; /* Old browsers */
  background: -moz-linear-gradient(
    -50deg,
    $card-background-secondary 0%,
    $card-background 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -50deg,
    $card-background-secondary 0%,
    $card-background 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    -50deg,
    $card-background-secondary 0%,
    $card-background 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $font-secondary;
}

html {
  background: $body-background;
  //   background: linear-gradient(45deg, $color5, $color1);
  color: $font;
}

.two-column {
  margin: 0;
  display: flex;
  min-height: 100%;
}

.navbar {
  background: transparent;
  .navbar-item {
    color: $font;
    border-bottom: 2px solid transparent;

    &.is-active,
    &:hover {
      color: $font-secondary;
      font-weight: bold;
      background: transparent;
      border-bottom: 2px solid $font-secondary;
    }

    .social {
      max-height: 100%;
      display: flex;
    }
  }

  .navbar-burger {
    color: $font-secondary;
  }
}

.is-horizontal-center {
  justify-content: center;
}

.headshot-container {
  padding: 35px;
}

.headshot {
  border-radius: 16px;
  box-shadow: 0 0 1em -0.125em rgba(10, 10, 10, 0.2),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.card {
  border-radius: 16px;
  margin: 16px auto;
  max-width: 1000px;
  box-shadow: 0 0 1em -0.125em rgba(10, 10, 10, 0.2),
    0 0px 0 1px rgba(10, 10, 10, 0.02);

  @include gradient-bg();

  .card-content {
    padding: 1.25rem;
  }

  color: $font;

  .title {
    color: $font;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-weight: normal;
    font-size: 32px !important;

    &.software {
      font-family: 'Anonymous Pro';
      font-size: 28px !important;
    }

    &.teacher {
      font-family: 'Shadows Into Light';
    }

    &.hobbyist {
      font-family: 'Fredericka the Great';
    }
  }
}

.columns {
  margin-bottom: 0px !important;
}

.hero-body {
  padding: 0 1.5rem;
  position: relative;

  &.card-rows {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover {
  background: transparent;
  color: $font-secondary;
  font-weight: bold;
  border-bottom: 2px solid $font-secondary;
}

.content {
  p:not(:last-child) {
    margin-bottom: 12px !important;
  }

  blockquote {
    color: $font-secondary;
    font-family: 'Anonymous Pro', monospace;
    // border: 1px solid rgba(10, 10, 10, 0.15);
    border: none;
    background-color: darken($card-background, 15%);
    // background-color: $blockquote-bg;
    padding: 8px 16px;
    // box-shadow: inset 0 0 0.3em 0.1em rgba(10, 10, 10, 0.25);
    box-shadow: rgba(10, 10, 10, 0.5) 0px 0px 5px 0px inset;

    border-radius: 16px;

    .author {
      color: $font-accent;
    }

    p:not(:last-child) {
      margin-bottom: 0 !important;
    }

    p {
      margin-bottom: 0px !important;
      &.has-text-right {
        color: $font-accent;
      }
    }
  }

  p:not(:last-child) {
    margin-bottom: 16px;
  }

  a {
    color: $font-accent;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
      color: $orange;
      text-decoration: underline;
    }
  }
}

.contact-btn {
  border-color: $font !important;
  color: $font !important;
  background: transparent;

  &:hover,
  &:active,
  &:focus {
    border-color: $font-accent;
    color: $font-accent;
  }
}

.linkedin-banner {
  width: 1584px;
  height: 396px;
  background-color: $body-background;
  border-left: 15px solid $orange;
  border-right: 15px solid $orange;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .banner {
    font-size: 42px;
    margin-bottom: 100px;
    .divider {
      color: $font-accent;
    }

    .software {
      font-family: 'Anonymous Pro';
    }

    .teacher {
      font-family: 'Shadows Into Light';
    }

    .hobbyist {
      font-family: 'Fredericka the Great';
    }
  }

  .website {
    font-size: 35px;
    font-family: 'Anonymous Pro';
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -40px;
  }

  img {
    max-width: 100%;
    height: 100%;
  }
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  display: none;
  width: 30px;
  height: 55px;
  bottom: 25px;
  left: calc(50% - 15px);
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background: transparent;
    box-shadow: none;
  }
  a.navbar-item:first-child {
    border-top: 2px solid white;
  }
  a.navbar-item {
    border-bottom: 2px solid white;
  }
  .icon-scroll {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .column.is-40-desktop {
    flex: none;
    width: 40%;
  }
  .column.is-60-desktop {
    flex: none;
    width: 60%;
  }
}
